.register-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 75vh;
}

.form-content {
    background-color: #F2F5F9;
    padding: 2.5rem;
    box-shadow: 0 0.2rem 0.4rem 0 #BBC6D7;
    border-radius: 2rem;
    width: 100%;
}